<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>The best source for small-to-mid size businesses looking to grow and scale their IT Infrastructure</h1>
            <hr>
            <p>Crypto Mode Consulting can help you with solving IT infrastructure consulting such as website servers, online payments, security, and more! Just fill out our survey form so we can setup a consultation to get started!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
